.pluginsManagement .linkDisabled {
    opacity: 0.75;
    cursor: not-allowed;
    pointer-events: none;
}

.pluginsManagement .card-content > h3:first-child {
    margin-top: 0;
}

.pluginsManagement .card-content .alert.no-margin-bottom {
    margin-bottom: 0;
}

.pluginsManagement .performance-audit-log-output {
    overflow-y: auto;
    max-height: 336px;
    padding: 0.6em 0.8em;
    line-height: 1.8em;
    border: 1px solid #dddddd;
}
